/* @group Notice Box */

.take-notice {
	background: #e5e5e5;
	border: 2px solid #bbb;
	color: #555;
	margin: 1em 0;
	padding: 1em 1em 0.5em;
}

.take-notice.blue {
	background: #dbeef9;
	border-color: #93ccee;
	color: #004a78;
}

.take-notice.green {
	background: #e6efc2;
	border-color: #c6d880;
	color: #264409;
}

.take-notice.grey {
	background: #e5e5e5;
	border-color: #bbb;
	color: #555;
}

.take-notice.red {
	background: #ffe5e0;
	border-color: #fbc2c4;
	color: #8a1f11;
}

.take-notice.yellow {
	background: #fff6bf;
	border-color: #ffd324;
	color: #514721;
}

.take-notice a {
	text-decoration: underline;
}

.take-notice.blue a { color: #004a78; }
.take-notice.green a { color: #264409; }
.take-notice.grey a { color: #555; }
.take-notice.red a { color: #8a1f11; }
.take-notice.yellow a { color: #514721; }

.take-notice h1 {
	font-size: 1.5em;
}

.take-notice h1,
.take-notice h2,
.take-notice h3,
.take-notice h4,
.take-notice h5,
.take-notice h6,
.take-notice p,
.take-notice ul,
.take-notice ol {
	margin: 0 0 0.5em !important;
}

/* @end */